# History files
.Rhistory
.Rapp
*.history

# Example code in package build process
*-Ex.R

# RStudio files
*.RData
!/data/*.RData
.Rproj.user/
.Rproj
.Rproj.user
*.Rdata
*.Rproj

# Other file
*.log
*.out
*.toc
.DS_Store

docs
inst/doc
